body
{
  background-color: rgb(160, 160, 250);
}

h1
{
  text-align: center;
  color: rgb(9, 32, 3);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input
{
  text-align: center;
  padding: 15px;
  margin-left: 100px;
  left: 100px;
  color: rgb(20, 3, 3);
  background-color: rgb(144, 142, 146);
  box-sizing: border-box;
  border: 4px solid #ebf3ec;
}
.inp
{
  margin-left: 300px;
}
button
{
  text-align: center;
  width: 150px;
  height: 30px;
  left: 300px;
  margin-left: 565px;
  background-color: cadetblue;
  
}

























