body
{
  background-color: rgb(160, 160, 250);
}

h1
{
  text-align: center;
  color: rgb(9, 32, 3);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input
{
  text-align: center;
  padding: 15px;
  margin-left: 100px;
  left: 100px;
  color: rgb(253, 10, 10);
  background-color: rgb(144, 142, 146);
  box-sizing: border-box
}
.inp
{
  margin-left: 300px;
}